<?php
	
/**
 * АДРЕСА ПЛАТЕЖНЫХ ШЛЮЗОВ
 */
define("TEST_URL", 'https://3dsec.sberbank.ru/payment/rest/');  //Тестовый шлюз
define("PROD_URL", 'https://securepayments.sberbank.ru/payment/rest/');  // Боевой шлюз

define("TIMEOUT", 120);  // Timeout для cUrl соединений
define("BANK_CURRENCY_ISO", 643);  // RUB
define("PLUGIN_CURRENCY", 'RUB'); 
define("LANGUAGE", 'ru');
define("SESSION_TIMEOUT_SECS", 600);
define("MAX_RETRIES", 5);
define("SSL_VERIFYPEER", false);
